<!DOCTYPE html>
<html>
<head>
  <title>QR code generator</title>
</head>
<body>
  <h1>QR code generator</h1>
  <form id="generate-form">
    <label for="user-input">Enter URL:</label>
    <input type="text" name="user-input">
    <button type="submit">Generate QR code</button>
  </form>
  <div>IMG: <%= img %></div>
</body>
</html>
